<div class="row">
  <h1 id="test-item"><%= @task.name %></h1>
  <p><%= @task.description %></p>
  <p><small>Created by: <%= @task.user.email %></small></p>
</div>

<div class="row">
  <h3>Task Items</h3>
  <%= render 'items/item' %>
  <% if user_signed_in? && @task.user.id == current_user.id %>    
    <%= render 'items/form' %>
</div>

<div class="row">
  <%= link_to "Edit Project", edit_task_path(@task), class: "btn btn-outline-secondary", method: :get %>
  <%= link_to "Delete Project", task_path(@task), class: "btn btn-danger", method: :delete %>
</div>
<% end %>


<div class="row">
    <h3><strong><%= @task.comments.count %></strong> Comments</h3>
    <hr>
    <%= render 'comments/comment' %>
    <% if user_signed_in? %>
    <div class="comment-form">
        <h4>Leave a comment</h4>
          <%= render 'comments/form' %>
    </div>
    <% else %>
      <%= link_to 'Join the conversation!', new_user_session_path %>
    <% end %>
</div>
